<mat-card class="row" [ngClass]= "{'completed': item.completed}">
    <div class="title">
        <mat-checkbox class="example-margin check" [checked]= "item.completed" (change)="changeCompleted(item)"></mat-checkbox>
        {{item.title}}
    </div>
    <div class="price">
        {{item.price | currency}}
    </div>
    <div class="quantity">
        {{item.quantity}}
    </div>
    <div class="total">
        {{ (item.price * item.quantity) | currency}}
    </div>
    <div class="actions">
        <button mat-raised-button color="warn" (click)="onDelete(item)">
            Eliminar
        </button>
    </div>
</mat-card>
